@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background: #00ff88;
  color: #0a0a0a;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: #1a1a1a;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #333;
}
